#about{
    margin: 20px 0px 50px 0px;
    padding: 10px;
}
body {
    background-image: url('/img/bg-page.png');
    background-position: 0 100%; 
    background-repeat: no-repeat;
    background-size: cover; 
}

/* TEXT CONTENT */
.text-content h1{
    font-weight: 700;
    color: #1E9781;
    font-family: 'Jakarta Sans', sans-serif;
    margin-bottom: 0;
}
.text-content span{
    color: #FD9C07;
}
.text-content p{
    font-size: 16px; 
    font-weight: 400;
    color: #666666B5;
    font-family: 'Poppins', sans-serif;
}
@media (min-width: 1024px) {
    .text-content h1{
        font-size: 44px;
    }
}
  
.header{
    margin-top: 75px;
}
.caption{
    color: #A8A8A8;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    text-align: justify;
}
.card-text{
    color: #A8A8A8;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Jakarta Sans', sans-serif;
    line-height: 30px;
    text-align: center;
}

@media (max-width: 767.98px) {
    .caption{
        font-size: 16px;
    }
}

.card-title{
    color: #4ABDAC;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Jakarta Sans', sans-serif;
}
.about-card{
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: 1px solid #1918251A;
}
.about-card:hover {
    box-shadow: #89ebdc 0px 2px 8px 0px;
    cursor: pointer;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

/* ANIMASI */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
    .text-about, .about-card, img {
        animation: fadeInUp 0.5s ease-out forwards;
        opacity: 0; 
    }
    img {
        animation-delay: 0.1s;
    }

    .text-about {
        animation-delay: 0.3s; 
    }

    .about-card {
        animation-delay: 0.5s; 
    }