body {
    background-image: url('/img/bg-page.png');
    background-position: 0 100%; 
    background-repeat: no-repeat;
    background-size: cover; 
}
.property-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#bus{
    margin-top: 75px;
    padding: 10px;
    margin-bottom: 50px;
}

/* TEXT CONTENT */
.text-content h1{
    font-weight: 700;
    color: #1E9781;
    font-family: 'Jakarta Sans', sans-serif;
    margin-bottom: 0;
}
.text-content span{
    color: #FD9C07;
}
.text-content p{
    font-size: 16px; 
    font-weight: 400;
    color: #666666B5;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 1024px) {
    .text-content h1{
        font-size: 44px;
    }
}

.property-content {
    flex-grow: 1;
}

.property-footer {
    margin-top: 0px;
}

.image-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* CARD BUS-ITEM */
.card-bus{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.label{
    color: #4FB472;
}
.price{
    font-size: 18px;
    font-weight: 700;
    color: #4FB472;
    align-items: left;
}
.property-content i{
    color: #344767;
}
.property-content li{
    font-size: 14px;
}
.penumpang-container{
    color: #344767;
    border-top: 1px solid #4FB472;
    border-top-style: dashed;
}
.penumpang-isi{
    border-right: 1px solid #4FB472;
    border-right-style: dashed;
}
.penumpang-container p{
    font-size: 12px;
    text-align: center;
}
.flex-fill i{
    color: #4FB472;
    text-align: center;
    padding-left: 5px;
}


/* PACKAGE-DAFTAR BUS PMJ */

.text-icon p {
    font-size: 9px;
}
.text-icon i {
    font-size: 18px;
}

.package-card {
    position: relative;
    margin: 0 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
}
.package-card img {
    border-radius: 10px;
    margin: 10px;
}
.package-card-title {
    font-size: 21px;
    color: black !important;
}
.package-icon {
    font-size: 21px;
}
.package-icon i {
    color: #FEC400;
}
.btn-detail {
    padding: 10px;
    width: 110px;
    border: none;
    border-radius: 10px;
    background-color: #1e9781;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
        transform: scale(1.05);
        background-color: #00BB83;
    }
}

@media (max-width: 767.98px) {
    .text-icon p {
        font-size: 7px;
    }
    .text-icon i {
        font-size: 14px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .text-icon p {
        font-size: 8px;
    }
}