body {
    background-position: center;
    margin: 0;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url("/img/bgPage.png");
  }

/* TEXT CONTENT */
.text-content h5{
    font-size: 44px;
    font-weight: 700;
    color: #1E9781;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
  }
  .text-content span{
    color: #FD9C07;
  }

/* TABEL */
#detailSewa{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
table{
    font-family: 'Poppins', sans-serif !important;
}
tbody > tr:nth-child(2n+1) > td,  tbody > tr:nth-child(2n+1) > th {
    background-color: #F9F9FC !important;
}

th, td{
    font-size: 14px;
    color: #333843;
    font-weight: 500;
    height: 50px;
}
.diterima, .draf, .ditolak, .selesai, .dibatalkan, .lunas, .belumBayar, .sudahBayar{
    padding: 5px 8px;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}
.draf{
    background-color: #666666;
}
.diterima, .sudahBayar, .belumBayar{
    background-color: #4180CC;
}
.selesai, .lunas{
    background-color: #1E9781;
}
.ditolak{
    background-color: #F44C28;
}
.dibatalkan{
    background-color: #D92904;
}
/* ULASAN */
#feedbackForm h3, #feedbackForm label{
    font-size: 20px;
    font-weight: 500;
    color: #000000AD;
}

/* RATING ULASAN */

.rating-stars {
    cursor: pointer;
    padding-top: 10px;
}

.rating-stars .star {
    font-size: 30px;
    padding-right: 5px;
    color: #ccc;
    transition: color 0.2s;
}

.rating-stars .star.selected i {
    color: gold !important;
}

/* BUTTON */
.btn-lihat{
    width: 185px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #4180CC !important;
    color: white !important;
    text-align: center;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
}
.btn-lihat i{
    color: white;
    font-size: 20px;
}
/* Default icon style */
.btn-lihat i {
    transition: transform 0.3s ease; /* Smooth transition */
}

/* Rotate icon when collapse is expanded */
[aria-expanded="true"] .btn-lihat i {
    transform: rotate(180deg); /* Rotate the icon upwards */
}


/* STATUS PEMESANAN */
.status-draf{
    width: 100%;
    height: 44px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    background-color: #666666;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.status-diterima, .status-belumBayar, .status-sudahBayar{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: #4180CC;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.status-ditolak, .status-dibatalkan{
    width: 100%;
    height: 44px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    background-color: #F44C28;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.status-selesai, .status-lunas{
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    background-color: #1E9781;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}


/* BUKTI PEMBAYARAN */
.content{
    padding: 15px;
    margin: 0px 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.bayar-title{
    font-size: 17px;
    font-weight: 600;
    color: #666666;
    margin-bottom: 5px;
}
.header h5{
    font-size: 22px;
    font-weight: 700;
}
.status{
    font-size: 14px;
    font-weight: 500;
    color: #4180CC;
    padding: 5px;
    border-radius: 10px;
    background-color: #4180CC47;
    width: 140px;
}