body {
    background-image: url("/img/bg-page.png");
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Title */
.header {
    margin-top: 75px;
}
.contact-title {
    text-align: center;
}
.contact-title h3 {
    font-size: 44px;
    font-weight: bold;
}
.contact-title p {
    font-size: 24px;
    color: #a8a8a8;
}


/* TEXT CONTENT */
.text-content h1{
    font-size: 44px;
    font-weight: 700;
    color: #1E9781;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}
.text-content span{
    color: #FD9C07;
}
.text-content p{
    font-size: 18px; 
    font-weight: 400;
    color: #000000AD;
    font-family: 'Poppins', sans-serif;
}
@media (min-width: 1024px) {
    .text-content h1{
        font-size: 44px;
    }
}

/* Card Content */
#contact, #contact-form{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#contact-form{
    margin-bottom: 50px;
}
.contact-card {
    padding: 10px;
    border-radius: 30px !important;
    border: 1px solid #A8A8A8 !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.contact-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: #1E978140 0px 7px 29px 0px;
    border: 1px solid #1E9781 !important;
}
.contact-card i {
    font-size: 50px;
}
.card-title {
    font-size: 24px;
    font-weight: 500;
    margin-top: auto;
}
.card-text {
    font-size: 16px;
    color: #a8a8a8;
}

/* Form */
.form-header {
    padding: 8px;
    width: 350px;
    height: 80px;
    border-radius: 20px;
    background-color: #1e9781;
    color: white;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: -60px; /* Posisikan agar memotong bagian atas container */
    left: 50%;
    transform: translateX(-50%);
}
form {
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px;
    margin: 0px 10px;
}

.form-label {
    font-weight: 500;
    font-size: 16px;
}
input,
select {
    height: 59px;
    border-radius: 10px !important;
    border: 1px solid #A8A8A8 !important;
}
textarea {
    border-radius: 10px !important;
    border: 1px solid #A8A8A8 !important;
}
/* Button */
.btn-kirim {
    padding: 10px 30px;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
    color: white;
    border: 1px solid #1e9781;
    background-color: #1e9781;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    box-shadow: #4475F236 0px 15px 25px, rgba(86, 167, 221, 0.397) 0px 5px 10px;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
        transform: scale(1.05);
        background-color: #00BB83;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .form-header{
        padding: 8px;
        width: 280px;
        height: 70px;
        font-size: 35px;
            
    }
}
iframe {
    width: 90%;
    height: 100%;
    min-height: 300px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ANIMASI */
/* .contact-card .icon {
    font-size: 40px;
    transition: color 0.3s ease;
}
.contact-card:hover .icon {
    color: #1e9781;
} */

@media (max-width: 767px) {
    #contact{
        padding: 0px 10px;
    }
    .form-header {
        padding: 8px;
        width: 250px;
        height: 60px;
        border-radius: 20px;
        background-color: #1e9781;
        color: white;
        font-weight: 700;
        font-size: 30px;
    }
}