/* CONTENT */
#pemesanan{
    margin-top: 100px;
}
h5{
    font-size: 30px;
}

/* FORM */
.form-container{
    padding: 20px;
    border: 10px solid #EFF0F6;
    border-radius: 30px;
}
input[type="text"], input[type="date"], input[type="number"], input[type="email"],input[type="datetime-local"]{
    height: 50px;
    border-radius: 15px;
    border-right: none;
}
.form-select{
    border-right: none;
}
#icon{
    border-radius: 0px 15px 15px 0px;
    background-color: white;
    border-left: none;
}
textarea{
    border-radius: 15px !important;
}
i{
    font-size: 21px;
}

/* Untuk Chrome */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Untuk Mozila */
input[type="date"] {  
    -moz-placeholder: none;
}

/* BUTTON */
.btn-pemesanan{
    padding: 10px 20px;
    color: white;
    border: 1px solid #4FB472;
    background-color: #4FB472;
    margin: 50px 0px;
    border-radius: 5px;
    width: 120px;
    &:hover{
        color: #4FB472;
        background-color: white;

    }
}
.btn-tambahTujuan{
    padding: 5px;
    color: white;
    border: 1px solid #4180CC;
    background-color: #4180CC;
    margin-left: 10px;
    border-radius: 5px;
    width: 120px;
    font-size: 14px;
}

button:disabled, button[disabled]{
    opacity: 70%;
    cursor: not-allowed;
}

.btn-hapusTujuan{
    margin-top: -15px;
}

/* LEGREST */
.form-check-input{
    height: 20px;
    width: 50px;
}
.form-check{
    margin-top: 30px;
}

/* RESPONSIF */
@media (max-width: 767.98px) {
    .form-check{
        margin: 10px 0px 0px 5px;
    }
}
#leg-rests{
    margin-top: 10px;
}