/* HEADER */
.status-pemesanan{
    border-radius: 10px;
    background-color: #A8A8A8;
    margin-bottom: 50px;
    height: 44px;
    width: 350px;
}
.status-pemesanan p{
    padding: 6px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
}

/* FORM */
#pemesananDitolak{
    margin-top: 130px;
}
.card-form{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
}
.card-form img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
form{
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

    
/* INPUT */
#basic-addon1{
    border-radius: 10px 0px 0px 10px;
    background-color: #E4E4E4;
}
input[type='text'], input[type="email"]{
    border-left: none;
    border-radius: 10px;
    background-color: #E4E4E4;
    height: 50px;
}
#alamat{
    background-color: #E4E4E4;
    height: 100px;
    border-radius: 10px;
}
.status-alert-ditolak {
    background-color: #F62F05;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}
.status-alert {
    background-color: #F62F05;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}
.status-alert i{
    color: white;
}

/* STATUS PEMESANAN */
small{
    font-size: 12px;
}



/* BUTTON */
.header-btn{
    margin-top: 20px;
}
.btn-perbaiki{
    width: 135px;
    padding: 10px;
    border: 1px solid #1E9781;
    border-radius: 10px;
    background-color: #1E9781;
    color: white;
    font-size: 16px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.308) 0px 10px 10px -5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover{
        transform: scale(1.05); 
        color: white;
        background-color: #1E9781;
    }
}

/* FONT */
h3{
    font-size: 24px;
    font-weight: bold;
}

label{
    color: #535353;
}
i{
    font-size: 24px;
    color: black;
}
/* RESPONSIF */
/* RESPONSIF GAMBAR */
@media (max-width: 767.98px) {
    .card-form img{
       border-top-right-radius: 10px;
       border-bottom-left-radius: 0px;
    }
}