/* CONTENT */
#pemesanan{
    margin-top: 150px;
}
.info{
    padding: 10px;
    border: 1px solid #4180CC;
    border-radius: 6px;
    border-left: 4px solid #4180CC;
    background-color: #F5F7F9;
}
.info i{
    color: #4180CC;
}
.info p{
    font-size: 18px;
    font-weight: 700;
    color: #252A31;
}
.info li{
    font-size: 16px;
    color: #252A31;
}

/* BREADCRUMB */
.breadcrumb{
    margin-top: 85px;
    padding: 20px;
    background-color: #1E9781;
    position: fixed; 
    width: 100%;
    top: 0;           
    z-index: 1000;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: white !important;
}
.breadcrumb li, .breadcrumb a{
    color: white !important;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

/* FORM */
.form-container{
    padding: 20px;
    border: 10px solid #EFF0F6;
    border-radius: 30px;
    margin-bottom: 50px;
}
input[type="text"], input[type="date"], input[type="number"], input[type="email"],input[type="datetime-local"]{
    height: 50px;
    border-radius: 15px;
    border-right: none;
}
label{
    font-weight: 500;
}
.form-select{
    border-right: none;
}
#icon{
    border-radius: 0px 15px 15px 0px;
    background-color: white;
    border-left: none;
}
textarea{
    border-radius: 15px !important;
}
i{
    font-size: 21px;
}

/* Untuk Chrome */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Untuk Mozila */
input[type="date"] {  
    -moz-placeholder: none;
}

/* BUTTON */
.btn-pemesanan{
    padding: 10px 20px;
    color: white;
    border: 1px solid #1E9781;
    background-color: #1E9781;
    font-weight: 700;
    margin: 10px 0px;
    border-radius: 10px;
    width: 120px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.308) 0px 10px 10px -5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover{
        transform: scale(1.05); 
    }
}
.btn-tambahTujuan{
    padding: 5px;
    color: white;
    border: 1px solid #4180CC;
    background-color: #4180CC;
    margin-left: 10px;
    border-radius: 10px;
    width: 130px;
    font-size: 14px;
}
.btn-tambahTujuan i{
    font-size: 14px;
}


button:disabled, button[disabled]{
    opacity: 70%;
    cursor: not-allowed;
}

.btn-hapusTujuan{
    margin-top: -15px;
    font-size: 14px;
    border-radius: 10px;
}

/* LEGREST */
.form-check-input{
    height: 20px;
    width: 50px;
}
.form-check{
    margin-top: 30px;
}

/* RESPONSIF */
@media (max-width: 767.98px) {
    .form-check{
        margin: 10px 0px 0px 5px;
    }
}
#leg-rests{
    margin-top: 10px;
}