/* CONTAINER PROFIL & FORM */
#profil{
    margin-top: 120px;
    margin-bottom: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 10px;
}
.profil-image{
    padding: 30px;
    border: 1px solid #E0E2E7;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.profil-image h5{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.profil-image p{
    font-size: 14px;
    color: #4D5464;
    margin-top: 40px;
}
.avatar{
    padding: 20px;
    border: 1px solid #E0E2E7;
    border-radius: 8px;
    background-color: #F9F9FC;
}
i{
    font-size: 200px;
    color: #4D5464;
}
.note{
    margin-top: 30px;
}

/* CONTAINER FORM */
.profil-form{
    padding: 30px;
    border: 1px solid #E0E2E7;
    border-radius: 8px;
    background-color: #EDEDED;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"]{
    height: 48px;
    border: 1px solid #99A2A5;
    border-radius: 10px;
    background-color: #EDEDED;
}

#icon, #pw-icon{
    height: 48px;
    border: 1px solid #99A2A5;
    border-radius: 10px 0px 0px 10px;
    background-color: #EDEDED;
}

#pw-icon{
    color: #8E8E8E;
    font-size: 20px;
}

textarea{
    border: 1px solid #99A2A5 !important;
    border-radius: 0px 10px 10px 0px !important;
    background-color: #EDEDED!important;
}

.card-body{
    margin: 20px 10px;
}
.card-header{
    font-size: 20px;
    font-weight: 600;
    background-color: #1E9781;
    border-radius: 10px 10px 0px 0px !important;
    border: none;
}

.card-body p, label{
    font-size: 14px;
    font-weight: 500;
    color: #00000094;
}

.card{
    background-color: white;
    border: none;
    border-radius: 10px;
}

/* BUTTON */
.container-btn{
    margin-top: 30px;
}
.btn-profil, .btn-password{
    padding: 0px 12px;
    background-color: #1E9781;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    height: 50px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Poppins', sans-serif;
      &:hover{
          transform: scale(1.05); 
      }
  }
