/* BACKGROUND */

/* section */
html, body {
    margin: 0;
    overflow: auto;
    height: 100%; 
}

#register {
    display: flex;
    align-items: stretch; 
    height: 100vh; 
    font-family: 'Poppins', sans-serif;
}

.row {
    width: 100%;
    height: 100%; 
    margin: 0;
}

.container {
    height: 100%;
    display: flex; 
    flex-direction: row; 
}

.col-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/img/bg2.png");
    flex: 1; /* Pastikan ini untuk mengambil sisa ruang */
}

.form-container {
    padding: 20px; 
    max-width: 70%;
    width: 100%;
    margin: auto; 
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

/* TITLE */
.header h5 {
    font-size: 35px;
    font-weight: 700;
    color: #FE9A07;
    margin-top: 40px;
}

/* INPUT FORM */
input[type="tel"],
input[type="password"],
input[type="text"],
input[type="email"],
textarea {
    height: 70px;
}
.lupa-sandi a {
    text-decoration: underline;
    font-size: 14px;
    color: #4180cc;
}
label{
    font-weight: 500;
}
i {
    color: #8e8e8e;
}
.input-group-text {
    cursor: pointer;
}
#password {
    border-right: none;
}
#toggle-password {
    border-left: none;
    background-color: white;
}
a {
    cursor: pointer;
}
.link-login p{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #313957;
}
.link-login a{
    color: #10da70;
    font-weight: 600;
}
.header p{
    font-size: 16px;
    font-weight: 700;
    color: #F44C28;
}

/* INPUT AKTIF */
.input-group:focus-within {
    border: 1px solid #ced4da;
    border-bottom: 4px solid #54e28d;
    border-radius: 6px;
}

#number_phone:focus,  #address:focus, #name:focus, #email:focus{
    border-bottom: 4px solid #54e28d !important;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #ced4da !important; /* Atur border untuk input aktif */
}
.col-img img {
    padding: 50px 0px;
    width: 90%;
}

.background{
    background-color: #B7E9F640;
    border: 1px solid #E4E4E4BF;
    border-radius: 10px;
    margin: 50px;
}

/* BUTTON */
.btn-register {
    height: 70px;
    width: 100%;
    background-color: #1e9781;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.btn-register:hover {
    transform: scale(1.05);
    background-color: #00BB83;
}

/* RESPONSIF GAMBAR */
@media (max-width: 767.98px) {
    .col-img {
        order: -1; 
        background-size: 100% 140%;
    }
    .navbar-brand img {
        padding: 0px 45%;
    }
    .form-container{
        padding: 20px;
        max-width: 100%;
    }
    .col-img img{ 
        width: 90%;
        padding: 0px;
    }
    .link-login{
        padding: 0px 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .col-img img{ 
        width: 67%;
        padding: 0px;
    }
    .form-container{
        padding: 50px 200px;
        max-width: 100%;
    }
    .background{
        margin: 50px 100px;
    }
}




/* AUTO FILL */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset !important; 
    -webkit-text-fill-color: #000 !important; 
    transition: background-color 5000s ease-in-out 0s; 
}