/* BACKGROUND */
body {
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-image: url("/img/bg2.png");
}

/* section */
#register {
    padding: 10px;
}

/* TITLE */
.header h5 {
    font-size: 35px;
    font-weight: 600;
}
.header p {
    color: #b9b8b8;
    font-size: 16px;
}
.header a {
    text-decoration: none;
    font-weight: 700;
    color: #10da70;
}

/* INPUT FORM */
input[type="tel"],
input[type="password"],
input[type="text"] {
    height: 70px;
}
.lupa-sandi a {
    text-decoration: underline;
    font-size: 16px;
    color: #4180cc;
}
.label-ingat {
    font-size: 16px;
    color: #8e8e8e;
}
i {
    color: #8e8e8e;
}
.input-group-text {
    cursor: pointer;
}
#password {
    border-right: none;
}
#toggle-password {
    border-left: none;
    background-color: white;
}
a {
    cursor: pointer;
}

/* INPUT AKTIF */
.input-group:focus-within {
    border: 1px solid #ced4da;
    border-bottom: 4px solid #54e28d;
    border-radius: 6px;
}

#number_phone:focus {
    border-bottom: 4px solid #54e28d;
}
#name:focus {
    border-bottom: 4px solid #54e28d;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}
img {
    border-radius: 20px;
}

/* BUTTON */
.btn-register {
    height: 70px;
    width: 100%;
    background-color: #1e9781;
    color: white;
    text-align: center;
    padding: auto;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #1e9781;
    border-radius: 6px;
    &:hover {
        background-color: white;
        color: #1e9781;
    }
}

/* RESPONSIF GAMBAR */
@media (max-width: 767.98px) {
    /* Media query for mobile devices */
    .col-img {
        order: -1; /* Place image column before form column */
    }
    .navbar-brand img {
        padding: 0px 45%;
    }
    body {
        background-image: url("/img/bg3.png");
        background-size: cover;
        background-repeat: none;
        background-position: center;
    }
}
