body {
    background-position: center;
    margin: 0;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url("/img/bgPage.png");
}

/* TITLE */
#riwayatSewa{
    margin-top: 120px;
    margin-bottom: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.title p{
    font-size: 18px;
    font-weight: 500;
    color: #333843;
}

/* TABLE */
table{
    font-size: 14px;
}
.tabel-riwayat{
    padding: 30px 0px 10px 0px;
    border: 1px solid #E0E2E7;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.table-responsive{
    padding-bottom: 20px;
}
thead{
    background-color: #A8A8A8;
    color: black;
    text-align: center;
}
#data-table thead th {
    background-color: #A8A8A840; /* Warna latar belakang */
}
/* td{
    height: 70px;
    text-overflow: ellipsis;
    padding: 20px;
} */
table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
  table.table-fit thead th,
  table.table-fit tbody td,
  table.table-fit tfoot th,
  table.table-fit tfoot td {
    width: auto !important;
}

.dt-length label, .dt-search label, .dt-info{
    font-size: 16px;
    font-weight: 500;
    color: #333843;
}
/* CSS untuk mobile view */
@media (max-width: 768px) {
    .dt-length, .dt-search {
        display: block;
        width: 100%; 
        margin-bottom: 10px;
        margin-left: 0;
    }
}
.dt-paging-button a{
    background-color: #1E978117 !important;
    border: none;
    border-radius: 6px;
    padding: 3px 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    align-items: center;
    color:#1E9781 !important;
    font-size: 14px;
}
.dt-paging-button a.active{
    background-color: #1E9781 !important;
    color: white !important;
    padding-top: 5px;
}

/* INPUT => date & filters */
input[type='text'], input[type='date']{
    border-left: none;
}

#basic-addon1{
    border-radius: 5px 0px 0px 5px;
    background-color: white;
    border-right: none;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
input[type='date']::-webkit-calendar-picker-indicator {background: 
    transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.date-input-wrapper {
    width: fit-content;
  }
  
  input {
    width: 100%;
  }
  
  input[type=date]::-webkit-calendar-picker-indicator {
    visibility: hidden;
  }
  
  .date-input-wrapper {
    position: relative;
  }
  
  .date-input-wrapper::after {
    display: none;
    width: 17px;
    height: 16px;
    background: red;
    /* background: white; */
    position: absolute;
    content: "";
    right: 0px;
    top: 2px;
  }
  
  @supports not selector(::-webkit-calendar-picker-indicator) {
    .date-input-wrapper::before {
      display: block;
    }
  }

/* PAGINATION */
.page-item{
    padding-right: 10px;
    border-radius: 7px;
   
}

.dt-paging-button.page-item.active .page-link {
    background-color: #1E9781 !important; 
    color: white !important;              
    border: none;                        
    padding-top: 5px;                     
    border-radius: 6px;                 
}

.caption{
    font-size: 14px;
    color: #667085;
}

/* STATUS PEMESANAN */
.draf{
    padding: 8px;
    width: 85px;
    border: none;
    border-radius: 5px;
    background-color: #FEC400;
    color: white;
    font-size: 14px !important;
    font-weight: 600 !important;
}
.diterima{
    padding: 8px;
    width: 85px;
    border: none;
    border-radius: 5px;
    background-color: #4180CC;
    color: white;
    font-size: 14px !important;
    font-weight: 600 !important;
}
.ditolak{
    padding: 8px;
    width: 85px;
    border: none;
    border-radius: 5px;
    background-color: #F62F05;
    color: white;
    font-size: 14px !important;
    font-weight: 600 !important;
}
.selesai{
    padding: 8px;
    width: 85px;
    border: none;
    border-radius: 5px;
    background-color: #1E9781;
    color: white;
    font-size: 14px !important;
    font-weight: 600 !important;
}
.dibatalkan{
    padding: 8px;
    width: 95px;
    border: none;
    border-radius: 5px;
    background-color: #D92904;
    color: white;
    font-size: 14px !important;
    font-weight: 600 !important;
}

/* BUTTON */
a{
    text-decoration: none;
}
.btn-detail{
    padding: 5px;
    width: 85px;
    border: none;
    border-radius: 5px;
    background-color: #006FF4;
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover{
        /* background-color: #4180CC80;
        color: #4180CC; */
        background-color: #006FF4;
        color: white;
        transform: scale(1.05); 
    }
}

.btn-ulasan{
    padding: 5px;
    width: 85px;
    border: none;
    border-radius: 5px;
    background-color: #24F11D;
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition: transform 0.3s ease;
    &:hover{
        background-color: #24F11D;
        color: white;
        transform: scale(1.05); 
    }
}
.btn-ulasan:disabled{
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #666666;
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition: none;
    &:hover{
        background-color: #666666;
        transform: none; 
    }
}
.btn-kirimUlasan{
    padding: 10px;
    width: 111px;
    border: none;
    border-radius: 5px;
    background-color: #1E9781;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    box-shadow: #4475F236 0px 15px 25px, rgba(86, 167, 221, 0.397) 0px 5px 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover{
        transform: scale(1.05); 
    }
}
.btn-tiket {
    padding: 5px;
    width: 85px;
    border: none;
    border-radius: 5px;
    background-color: #FE9708;
    color: white;
    font-size: 13px;
    font-weight: 600;
    transition: transform 0.3s ease;
    display: inline-block;
    text-align: center; 
    &:hover {
        background-color: #FE9708 !important;
        color: white !important;
        transform: scale(1.05) !important; 
    }
    
}



/* MODAL */
.modal{
    font-family: 'Poppins', sans-serif;
}
.modal-header{
    border-bottom: 10px solid #1E9781;
}
.modal-title, label{
    font-size: 24px;
    color: black;
    font-weight: 500;
    margin-bottom: 5px;
}
textarea{
    border: 2px solid #CECECE !important;
    border-radius: 6px;
    height: 200px;
}
.rating-stars i{
    font-size: 30px;
    margin: 5px 5px 30px 0px;
}

.title{
    color: #333843;
    font-size: 18px;
    font-weight: 500;
}