/* STYLE FORM */
body {
    background-image: url('/img/bg-page.png');
    background-position: 0 100%; 
    background-repeat: no-repeat;
    background-size: cover; 
}
#statusPesanan{
    margin-top: 70px;
}

/* BREADCRUMB */
.breadcrumb{
    margin-top: 85px;
    padding: 20px;
    background-color: #1E9781;
    position: fixed; 
    width: 100%;
    top: 0;           
    z-index: 1000;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: white !important;
}
.breadcrumb li, .breadcrumb a{
    color: white !important;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

form{
    border: 4px solid #EFF0F6;
    border-radius: 34px;
    padding: 20px;
    background-color: white;
}
.input-group{
    height: 50px;
}
input[type="text"], input[type="number"], input[type="email"], input[type="datetime-local"], input[type="file"], #pickup_point, #alamat{
    background-color: #E5E5E5;
    border-radius: 15px;
    border: 1px solid #666666;
}
input[type="file"]{
    padding: 12px;
    background-color: white;
    height: 50px;
    width: 100%;
}
#icon{
    background-color: #E5E5E5;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #666666;
}
label{
    font-weight: 500;
}
/* STATUS PEMESANAN */
.status-alert-ditolak{
    background-color: #F62F05;
    border-radius: 15px;
    border: 1px solid #FE9A07;
    color: white;
    height: 65px;
    padding:  6px;
}
.status-alert-diproses{
    background-color: #FFB800;
    border-radius: 15px;
    border: 1px solid #FE9A07;
    color: white;
    height: 65px;
    padding: 6px;
}
.status-alert-diterima{
    background-color: #17B92F;
    border-radius: 15px;
    border: 1px solid #E4E4E4;
    color: white;
    height: 65px;
    padding: 6px;
}
.rekening{
    background-color: #4180CC;
    border-radius: 15px;
    border: 1px solid #E4E4E4;
    color: white;
    height: 65px;
    padding: 6px;
}
.status-alert-diproses p, .status-alert-ditolak p, .status-alert-diterima p, .rekening p{
    font-size: 13px;
    line-height: 15px;
}
.status-alert-diproses h5, .status-alert-ditolak h5, .status-alert-diterima h5, .rekening h5{
    padding-top: 11px;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0px;
}

/* BUTTON */
.btn-tambahTujuan{
    padding: 5px;
    color: white;
    border: 1px solid #4180CC;
    background-color: #4180CC;
    margin-left: 10px;
    border-radius: 10px;
    width: 130px;
    font-size: 14px;
}
.btn-tambahTujuan i{
    font-size: 14px;
}
.btn-perbaiki, .btn-hubungi, .btn-kirim{
    padding: 10px;
    width: auto;
    border: none;
    border-radius: 10px;
    background-color: #1E9781;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.308) 0px 10px 10px -5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover{
        background-color: #1E9781;
        color: white;
        transform: scale(1.05); 
    }
}
.btn-kirim{
    width: 155px !important;
}

/* MODAL */
.modal-content{
    border: none;
}
.modal-body{
    padding: 20px 50px;
}
.modal-body input{
    border-radius: 4px;
}
.modal-body #icon{
    border-radius: 4px 0 0 4px;
}
.modal-body p{
    font-size: 16px;
    text-align: justify;
}
.modal-body h5{
    text-align: center;
    color:#0D894F;
    font-size: 24px;
    font-weight: 600;
}
.modal input[type="text"], .modal #icon{
    background-color: #FAFAFA;
    border: 1px solid #E4E4E4;
}
.text-modal{
    font-size: 14px;
    font-weight: 600;
    color: #F44C28;
    margin-bottom: 30px;
}
.btn-bayarSekarang{
    height: 40px;
    width: 100%;
    border: 1px solid #1E9781;
    border-radius: 10px;
    background-color: #1E9781;
    color: white;
    font-size: 16px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.308) 0px 10px 10px -5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover{
        transform: scale(1.05); 
    }
}
.btn-bayarNanti{
    height: 40px;
    width: 100%;
    background-color: #F23108;
    border: 1px solid #F23108;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.308) 0px 10px 10px -5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover{
        transform: scale(1.05); 
    }
}
.btn-bayarNanti a{
    text-decoration: none;
    color: white;
}