/* FORM */
#statusPemesanan{
    margin-top: 100px;
    flex: 1
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* background-image: url('/img/bg-page2.png');
    background-position: 85% 40%; 
    background-repeat: no-repeat;
    background-size: auto;  */
}

form{
    padding: 55px;
}
.form-content{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* INPUT */
.input-group{
    height: 50px;
    width: 440px;
}
#icon{
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #666666;
}
input[type="text"]{
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #666666;
}


/* BUTTON */
.header-btn{
    margin-top: 20px;
}
.btn-cek{
    height: 50px;
    width: 111px;
    padding: 10px;
    border: 1px solid #1E9781;
    border-radius: 10px;
    background-color: #1E9781;
    color: white;
    font-size: 16px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.308) 0px 10px 10px -5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover{
        transform: scale(1.05); 
    }
}

/* FONT */
h3{
    font-size: 24px;
    font-weight: bold;
}
.form-footer p{
    color: #F44C28;
    font-size: 15px;
    text-align: left !important;
    font-weight: 700;
    margin: 0px;
}
label{
    color: #535353;
}
i{
    font-size: 24px;
    color: #535353;
}

/* RESPONSIF */
@media (min-width: 768px) and (max-width: 1024px)  {
    .input-group{
        width: 585px;
    }
    .form-footer p{
        padding-left:50px;
    }
    .btn-cek{
        margin-left: 50px;
    }
}
@media (max-width: 1080px) and (min-width: 810px) {
    .input-group, label{
        padding: 0px 50px;
    }
}
@media (max-width: 767px) {
    .input-group{
        width: 310px;
    }
}