body {
    background-image: url('/img/bg-page.png');
    background-position: 0 100%; 
    background-repeat: no-repeat;
    background-size: cover; 
}
.header{
    margin-top: 75px;
}

/* CONTENT */
.syarat-content h5{
    font-size: 20px;
    font-weight: 700;
    color: #00000099;
}
.syarat-content li{
    font-size: 20px;
    font-weight: 400;
    color: #00000099;
}

/* VERSI 2 */
.accordion{
    border: none;
}
.accordion-item{
    margin-bottom: 20px;
    border: none;
    background: none;
}
.accordion-button{
    background-color: white;
    font-size: 20px; 
    border-radius: 18px 18px 0px 0px !important;
    height: 80px;
    font-size: 22px;
    font-weight: 500;
    color: #170F49;
}
.accordion-button.collapsed{
    border-radius: 18px !important;
}
.accordion-body{
    border-radius: 0px 0px 18px 18px;
    background-color: white;
    border-bottom: 1px solid #1E9781;
    border-right: 1px solid #1E9781;
    border-left: 1px solid #1E9781;
    border-top: none;
    /* box-shadow: #4A3AFF30 0px 8px 24px; */
    box-shadow: #4A3AFF30 0px 25px 20px -20px;
}
.accordion-body li{
    font-size: 18px;
    font-weight: 400px;
    color: #6F6C90;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%231E9781' class='bi bi-chevron-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M6.854 11.854a.5.5 0 0 1-.708-.708L9.293 8 6.146 4.854a.5.5 0 1 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5z'/%3E%3C/svg%3E");
    background-color: white;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chevron-up' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M6.854 11.854a.5.5 0 0 1-.708-.708L9.293 8 6.146 4.854a.5.5 0 1 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5z'/%3E%3C/svg%3E");
    background-color: #1E9781;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


.accordion-button:not(.collapsed) {
    background-color: white;
    border-top: 1px solid #1E9781 !important;
    border-right: 1px solid #1E9781 !important;
    border-left: 1px solid #1E9781 !important;
}
  
button.accordion-button:focus{
  box-shadow: inherit;
  border: none;
}