#dashboard {
    margin-top: 80px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif !important;
}

/* CONTAINER LAYOUT*/
.dashboard-container {
    max-width: 375px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto; 
}

.text-content {
    color: #000000a1;
    font-size: 16px;
    font-weight: 500;
}

.title h5 {
    font-size: 15px !important;
    font-weight: 700;
    color: #1e9781;
    margin-top: 10px !important;
}
.title p {
    font-size: 14px !important;
    font-weight: 500;
    color: #000000A1;
}

.title h5 {
    font-size: 17px;
    font-weight: 700;
    /* color: #1E9781; */
    margin-top: 0;
}
.title p {
    font-size: 15px;
    font-weight: 500;
    color: #000000a1;
    margin-bottom: 0;
}

/* BANNER */
.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding-bottom: 20px;
}
.banner-header-sekarang {
    background-color: #f44c28;
    border-radius: 10px 10px 0px 0px;
}
.banner-header-nanti {
    background-color: #fe9a07;
    border-radius: 10px 10px 0px 0px;
}
.banner-header-sekarang p,
.banner-header-nanti p {
    padding: 8px 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: white;
}
.banner-kode,
.banner-tujuan {
    margin-left: 20px;
}
.banner-kode p {
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 0px;
    color: white;
}
.banner-kode h5 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;
    color: white;
}
.banner-tujuan p {
    font-size: 12px;
    font-weight: 300;
    color: white;
}
.card-content-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding-bottom: 10px;
}

.card-content {
    display: inline-block;
    width: 100%;
    margin-right: 16px;
    flex: 0 0 auto;
}
.card-content-wrapper {
    scrollbar-width: 2px;
    scrollbar-color: #1e9781 #f1f1f1;
}

/* BUTTON LIHAT */
.banner-btn {
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.05);
    }
}

.btn-detail {
    padding: 5px 20px;
    background-color: #fec400;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 10px 0px 30px 20px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}

/* BUTTON KIRIM */
.btn-mulai {
    text-decoration: none;
    height: 48px;
    width: 100%;
    background-color: #FF9149;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;
    box-shadow: #4475F236 0px 15px 25px, rgba(86, 167, 221, 0.397) 0px 5px 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
        transform: scale(1.05);
        background-color: #F9741D;
    }
}

.btn-lanjut {
    text-decoration: none;
    height: 48px;
    width: 100%;
    background-color: #FF9149;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;
    box-shadow: #4475F236 0px 15px 25px, rgba(86, 167, 221, 0.397) 0px 5px 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
        transform: scale(1.05);
        background-color: #F9741D;
    }
}

.button-trip {
    position: fixed; 
    bottom: 52px; 
    left: 50%; 
    transform: translateX(-50%); 
    max-width: 375px; 
    width: 100%; 
    padding: 20px; 
    z-index: 100; 
    background-color: white;
}

.carousel {
    position: relative;
    overflow: hidden; /* Menyembunyikan bagian yang tidak terlihat */
}

.carousel-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
    scroll-behavior: smooth; /* Menambahkan transisi halus saat scroll */
}

.card-content {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: 10px;
    width: 100%; /* Sesuaikan lebar sesuai kebutuhan */
    min-width: 300px; /* Menentukan lebar minimum untuk setiap item */
}

.carousel-scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar for cleaner look */
}

.carousel-scroll {
    -ms-overflow-style: none; /* Hide scrollbar on IE and Edge */
    scrollbar-width: none; /* Hide scrollbar on Firefox */
}

.carousel-indicators {
    position: absolute;
    bottom: -20px; /* Adjust as needed */
    transform: translateX(-50%); /* Center the indicators */
    display: flex;
    left: 35%;
    z-index: 10; /* Ensure indicators are above the content */
}

.carousel-indicators button {
    background-color: #1e9781 !important; /* Color for inactive indicators */
    border: none; /* No border */
    border-radius: 50%; /* Makes the indicators round */
    width: 10px !important; /* Width of the indicators */
    height: 10px !important; /* Height of the indicators */
    /* Spacing between indicators */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for color change */
    line-height: 10px; /* Ensures the button aligns properly */
    display: inline-block; /* Ensures button behaves like a block */
}

.carousel-indicators .active {
    width: 30px !important; /* Width of the indicators */
    height: 10px !important;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#dashboardUpcomming {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

/* DROPDOWN */

.accordion-item {
    margin-bottom: 10px;
    border: 1px solid #4180cc;
    border: 10px;
}
.accordion-header {
    border-radius: 8px;
    background-color: #f1f2f2;
}

.accordion-button h5 {
    font-size: 16px;
    color: black;
    font-weight: 700;
    margin-bottom: 0px;
}
.accordion-button p {
    font-size: 14px;
    color: black;
    margin-bottom: 0px;
    font-weight: 600;
}

.accordion-button:not(.collapsed)::after {
    display: none;
}

.accordion-button::after {
    display: none;
}

.accordion-button {
    background-color: #d9d9d9;
    color: black;
    padding: 10px;
    text-align: left;
    border-radius: 10px 10px 0px 0px !important;
    
}
.accordion-button.collapsed {
    border-radius: 10px !important;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    background-color: #d9d9d9;
    color: white;
}
.accordion-body {
    background-color: #f1f2f2;
    margin-top: 0px;
}
.info-pmj {
    font-size: 12px;
    color: #bcd;
}
.riwayat-image img {
    border-radius: 10px;
    margin-right: 5px !important;
}
.ms-auto p {
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
}
.kode p {
    font-size: 12px;
    font-weight: 400;
}

/* TABEL */
table {
    font-size: 14px;
}
thead {
    background-color: #ffb21d;
    overflow: hidden;
    vertical-align: middle;
    color: white;
}
th h5 {
    padding-left: 10px;
    color: white;
}
table td {
    padding: 10px 15px !important; 
    font-size: 12px;
    font-weight: 400;
}
.detail-trip td, .detail-pengeluaran td{
    text-align: justify;
}

.keterangan{
    text-align: left !important;
    padding-left: 10px;
    width: 40%;
}
.tgl {
    padding: 5px;
    background-color: #666666;
    color: white;
    border-radius: 20px;
    text-align: center;
}
.saldo{
    padding: 5px;
    background-color: #666666;
    color: white;
    border-radius: 20px;
    text-align: center;
}
.total{
    padding: 5px;
    background-color: #666666;
    color: white;
    border-radius: 20px;
    text-align: center;
}
.status {
    padding: 5px;
    background-color: #666666;
    color: white;
    border-radius: 20px;
    text-align: center;
}
.btn-bukti {
    background: none;
    border: none;
}
.detail-pengeluaran th {
    background-color: #D9D9D9;
    padding: 5px;
    color: white;
}

/* SCROLL */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.accordion-body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    flex-grow: 1;
    overflow-y: auto;
    border-radius: 0px 0px 1rem 1rem;
}

/* MODAL */
.modal-content {
    border: none;
}
.modal-dialog {
    max-width: 375px;
}
.modal-body {
    padding: 20px 60px;
}

.riwayat-title {
    padding: 0px 5px;
}
.riwayat-title p {
    font-size: 18px;
    font-weight: 500;
}
.riwayat-title i {
    font-size: 18px;
}
.riwayat-title a {
    text-decoration: none;
    color: black;
}
.riwayat-content{
    margin: 0px 10px 20px 10px;
}

/* Media Queries for Larger Screens (Tablet & Desktop) */
@media (min-width: 768px) {
    .dashboard-container {
        max-width: 100%;
        width: 375px;
    }
    
    .content {
        padding-bottom: 50px; /* Maintain mobile padding */
    }
}