/* CONTAINER LAYOUT*/
.dashboard-container{
    max-width: 375px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* TEXT HEADER */
.profile-card {
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 400px;
}
.profile-text {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.profile-text h5 {
    margin: 0px;
}

.profile-text p {
    margin: 0px;
    color: #777;
}

.text-content{
    color:#000000A1;
    font-size: 16px;
    font-weight: 500;
}

.title p{
    font-size: 18px;
    font-weight: 700;
}

/* TABEL */
table{
    border-radius: 20px;
    background-color: transparent; /* Mengubah dari #F1F2F2 menjadi transparent */

    overflow: hidden;
}
thead{
    background-color: #4180CC;
    border-radius: 20px;
    overflow: hidden;
    vertical-align: middle;
}
th h5{
    padding-left: 10px;
    color: black;
}
th p{
    margin-bottom: 0;
    padding-left: 10px;
    color: black;
}
table td {
    padding: 10px 15px !important; 
    text-align: right;
}
.keterangan{
    text-align: left;
    padding-left: 10px;
}
.tgl{
    padding: 5px;
    background-color: #E50A3E;
    color: white;
    border-radius: 20px;
    text-align: center;
}
