/* CONTAINER LAYOUT*/
.dashboard-container{
    max-width: 375px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* TEXT HEADER */
.profile-card {
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 400px;
}
.profile-text {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.profile-text h5 {
    margin: 0px;
}

.profile-text p {
    margin: 0px;
    color: #777;
}

.text-content{
    color:#000000A1;
    font-size: 16px;
    font-weight: 500;
}

.title p{
    font-size: 18px;
    font-weight: 700;
}

/* CARD */
.banner{
    background-repeat: no-repeat;
    background-position: center;
}
.banner-isi{
    padding-bottom: 5px;
}
.header{
    padding: 30px 30px 0px 30px;
}
.header p{
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 200;
    color: white;
}
.header h5{
    font-size: 18px;
    font-weight: 700;
    color: white;
}
.tujuan{
    padding: 0px 30px;
}
.tujuan p{
    margin-bottom: 0px;
    font-size: 14px;
    color: white;
}

/* BUTTON LIHAT */
.btn-lihat{
    padding: 3px;
    background-color: #FEC400;
    color: white;
    border-radius: 5px;
    border: none;
    width: 65px;
    margin: 10px 0px 40px 30px;
    font-size: 14px;
}

/* BUTTON KIRIM */
.btn-mulai{
    height: 48px;
    width: 100%;
    background-color: #FFB800;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    border: 1px solid #FFB800;
    border-radius: 8px;
    margin: 10px 0px;
    &:hover{
        background-color: white;
        color: #FFB800;
    }
}
.btn-lanjut{
    height: 48px;
    width: 100%;
    background-color: #E50A3E;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    border: 1px solid #E50A3E;
    border-radius: 8px;
    margin: 10px 0px;
    &:hover{
        background-color: white;
        color: #E50A3E;
    }
}

body, html {
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#dashboardUpcomming {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

.title {
    position: sticky; 
    top: 0;
    z-index: 10;
    background-color: white; 
}

.card-content {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}





