/* CONTAINER LAYOUT*/
.dashboard-container{
    max-width: 375px;
    position: relative;
}
.content{
    padding-bottom: 50px;
}

/* TEXT HEADER */
.header{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #292D32;
}

/* TEXT CONTENT */
.text-content{
    margin: 70px 0px;
}
.title{
    font-size: 24px;
    font-weight: 700;
}
.caption{
    font-size: 14px;
    font-weight: 400;
    color: #19182580;
}

/* BUTTON */
.btn-container {
    border-radius: 15px;
    padding: 15px;
    display: flex;
}

.text{
    text-align: left;
    margin-left: 10px;
    padding-top: 5px;
}
.text h6{
    font-size: 15px;
    font-weight: 700;
}
.text p{
    font-size: 13px;
    color:#19182580;
    line-height: 0px;
}
.btn-riwayatTrip p, .btn-riwayatTrip h6, .btn-lanjutPengeluaran p, .btn-lanjutPengeluaran h6{
    color: white;
}
.btn-pengeluaran .icon {
    font-size: 20px;
    margin-right: 20px;
    padding-top: 8px;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FF5722;
}
.btn-pengeluaran{
    background-color: #F44C285E;
    border: 1px solid #F44C285E;
    border-radius: 15px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-end .icon {
    font-size: 20px;
    margin-right: 20px;
    padding-top: 8px;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #4180CC;
}
.btn-end{
    background-color: #4180CC63;
    border: 1px solid #4180CC63;
    border-radius: 15px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-riwayatTrip .icon {
    font-size: 20px;
    margin-right: 20px;
    padding-top: 8px;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #E50A3E;
}
.btn-riwayatTrip{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 15px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-lanjutPengeluaran .icon {
    font-size: 20px;
    margin-right: 20px;
    padding-top: 8px;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #072B24;
}
.btn-lanjutPengeluaran{
    background-color: #0FA958;
    border: 1px solid #0FA958;
    border-radius: 15px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-pengeluaran:hover, .btn-end:hover, .btn-riwayatTrip:hover, .btn-lanjutPengeluaran:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

