/* CONTAINER LAYOUT*/
.dashboard-container{
    max-width: 375px;
    position: relative;
    margin: 0 auto; 
    font-family: 'Poppins', sans-serif;
}
.content{
    padding-bottom: 50px;
}

/* TEXT CONTENT */
.text-content{
    margin: 30px 0px;
}
.title{
    font-size: 24px;
    font-weight: 700;
}
.caption{
    padding-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #19182580;
    margin-bottom: 50px;
}

/* BUTTON */
.btn-container {
    border-radius: 15px;
    padding: 15px;
    display: flex;
}

.text{
    text-align: left;
    margin-left: 10px;
    padding-top: 5px;
}
.text h6{
    font-size: 15px;
    font-weight: 700;
}
.btn-riwayatTrip p, .btn-riwayatTrip h6, .btn-lanjutPengeluaran p, .btn-lanjutPengeluaran h6{
    color: white;
}
.icon-btn {
    font-size: 30px;
    margin-right: 20px;
    padding: auto;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}
.btn-end{
    background-color: #FE9A07;
    border: none;
    border-radius: 15px;
    color: white;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-pengeluaran{
    background-color: #E42E07;
    border: none;
    border-radius: 15px;
    color: white;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-riwayatTrip{
    background-color: #1E9781;
    border: none;
    border-radius: 15px;
    color: white;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.btn-pengeluaran:hover, .btn-end:hover, .btn-riwayatTrip:hover, .btn-lanjutPengeluaran:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

@media (min-width: 768px) {
    .dashboard-container {
        max-width: 100%;
        width: 375px;
    }
    
    .content {
        padding-bottom: 50px; /* Maintain mobile padding */
    }
}