/* CONTAINER LAYOUT*/
.dashboard-container{
    max-width: 375px;
    position: relative;
    background-color: white;
    margin: 0 auto; 
    font-family: 'Poppins', sans-serif;
}
#dashboardKm{
    margin-bottom: 100px;
}

.text-content a{
    text-decoration: none;
    padding-top: 5px;
}
.caption{
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}
.text-content i{
    font-size: 16px;
    padding: 5px 8px;
    color: white;
    border: 1px solid #1E9781;
    border-radius: 50%;
    background-color: #1E9781;
    transition: transform 0.3s ease;
}
.text-content i:hover{
    transform: scale(1.05);
    background-color: #00BB83;
}

/* FORM */
.input-group i{
    color: #595c5f;
    font-size: 20px;
}
#icon{
    border-right: none;
    background-color: white;
    height: 48px;
    color: #666666;
    font-size: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top: 1px solid #666666;
    border-left: 1px solid #666666;
    border-bottom: 1px solid #666666;
}
input[type="text"]{
    border-left: none;
    height: 48px;
    border-radius: 15px;
    border-top: 1px solid #666666;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
}
label{
    font-size: 16px;
    font-weight: 400;
    color: #292D32;
}

/* BUTTON KIRIM */
.btn-inputkm{
    text-decoration: none;
    height: 48px;
    width: 100%;
    background-color: #FF9149;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    box-shadow: #4475F236 0px 15px 25px, rgba(86, 167, 221, 0.397) 0px 5px 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
        transform: scale(1.05);
        background-color: #F9741D;
    }
}

/* TIKET */

.ticketTitle{
    font-size: 13px;
    font-weight: 400;
    color: white;
    padding: 12px 16px 4px;
    border-radius: 10px 10px 0px 0px;
    background-color: #F2F2F2;
}

.ticketDetail{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 4px 16px;
    background-color: #F2F2F2;
}
.ticketSubDetail{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 12px 16px;
    background-color: #F2F2F2;
}
.ticketSubDetail .code{
    margin-right: 24px;
}

/* Ticket Ripper */
.ticketRip{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
}
.circleLeft{
    width: 15px;
    height: 30px;
    background-color: white;
    border-radius: 0 12px 12px 0;
}
.ripLine{
    width: 100%;
    border-top: 2px solid black;
    border-top-style: dashed ;
}
.circleRight{
    width: 15px;
    height: 30px;
    background-color: white;
    border-radius: 12px 0 0 12px;
}

/* TIKET-CARD */
.tiket-card{
    background-color: #F2F2F2;
}
.info-tiket{
    padding: 10px;
}
.tujuan-container{
    padding: 10px;
}
.jam-tiket{
    background-color: #F2F2F2;
    border-radius: 0px 0px 12px 12px;
}
.info-tiket h5{
    font-size: 14px;
    font-weight: 700;
    color: #191D31;
    text-align: center;
}
.jam-tiket h5{
    font-size: 13px;
    font-weight: 600;
    color: #191D31;
    padding-top: 5px;
}
.info-tiket li{
    font-size: 11px;
    color: #8C8E98;
    text-align: left;
}
.info-tiket p{
    font-size: 11px;
    color: #8C8E98;
    text-align: justify;
}
.info-jam p{
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    color: #A7AEC1;
    padding: 20px 0px;
}

/* FORM FOCUS */
.input-group:focus-within {
    border: 1px solid #1E9781;
    border-radius: 15px; 
}

.input-group:focus-within .input-group-text,
.input-group:focus-within .form-control {
    border: none !important; 
    box-shadow: none;
}

select:focus{
    box-shadow: none !important;
    border: none !important;
}

@media (min-width: 768px) {
    .dashboard-container {
        max-width: 100%;
        width: 375px;
    }
    
    .content {
        padding-bottom: 50px; /* Maintain mobile padding */
    }
}