/* CONTAINER */
.dashboard-container{
    max-width: 375px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* CONTENT */
.dashboard-container{
    background-image: url('/img/login-driver.png');
    background-position: auto;
    background-size: auto;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px 0px 10px 10px;
}
img{
    padding: 20px;
}

/* TEXT CONTENT */
.text-content h5{
    font-size: 28px;
    font-weight: 600;
    color: black;
}
.text-content p{
    font-size: 16px;
    font-weight: 300;
    color: black;
}

/* FORM */
.form-login{
    padding: 20px;
}
input[type="text"], input[type="password"], input[type="tel"]{
    height: 70px;
    border-radius: 6px;
}
#password{
    border-right: none;
}
#toggle-password{
    border-left: none;
    background-color: white;
}
label{
    font-size: 16px;
    font-weight: 500;
    color: #263A43;
}
.lupa-sandi {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #4180CC;
    &:hover{
        color: #6799d6;
    }
}

/* INPUT AKTIF */
.input-group:focus-within {
    border: 1px solid #ced4da; 
    border-bottom: 4px solid #54E28D;
    border-radius: 6px;
}

#number_phone:focus{
    border-bottom: 4px solid #54E28D;
}
input[type="text"]:focus,input[type="password"]:focus,input[type="tel"]:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

/* BUTTON */
.btn-login{
    height: 70px;
    width: 100%;
    background-color: #1E9781;
    color: white;
    text-align: center;
    padding: auto;
    font-size: 20px;
    font-weight: 700;
    border-radius: 6px;
    border: none;
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.05);
        background-color: #00BB83;
    }
    
}