/* CONTAINER LAYOUT*/
.dashboard-container{
    max-width: 375px;
    position: relative;
    margin: 0 auto; 
    font-family: 'Poppins', sans-serif;
}
.content{
    padding-bottom: 50px;
}
/* #qrCode{
    margin-top: 70px;
} */

.text-content a{
    text-decoration: none;
    padding-top: 5px;
}
.caption{
    font-size: 12px;
    font-weight: 400;
    color: #666666;
}
.text-content i{
    font-size: 16px;
    padding: 5px 8px;
    color: white;
    border: none;
    border-radius: 50%;
    background-color: #1E9781;
    transition: transform 0.3s ease;
    margin-top: 0;
}
.text-content i:hover{
    transform: scale(1.05);
    background-color: #00BB83;
}

#reader {
    width: 600px; /* Ukuran lebar yang diinginkan */
    height: 550px; /* Ukuran tinggi yang diinginkan */
    border: 5px solid #28a745; /* Border berwarna hijau */
    border-radius: 15px; /* Sudut melengkung */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Bayangan */
    position: relative; /* Memungkinkan posisi absolut untuk elemen dalam */
    overflow: hidden; /* Menyembunyikan elemen yang keluar dari container */
    margin-bottom: 70px;
}

#html5-qrcode-button-camera-permission{
    background-color:#28a745;
    border: none;
    border-radius: 5px;
    color: white;
}
#html5-qrcode-button-camera-stop{
    background-color:#EE8143;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 30px;
}

#html5-qrcode-select-camera{
    margin-top: 10px;
}

/* TEXT */
.title{
    font-size: 24px;
    font-weight: 700;
}
.caption{
    font-size: 14px;
    font-weight: 400;
    color: #19182580;
}

@media (min-width: 768px) {
    .dashboard-container {
        max-width: 100%;
        width: 375px;
    }
    
    .content {
        padding-bottom: 50px; /* Maintain mobile padding */
    }
}