/* CONTAINER LAYOUT*/
.dashboard-container{
    max-width: 375px;
    position: relative;
}
.content{
    padding-bottom: 50px;
}
#qrCode{
    margin-top: 70px;
}

/* TEXT HEADER */
.header{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #292D32;
}

#reader {
    width: 600px; /* Ukuran lebar yang diinginkan */
    height: 550px; /* Ukuran tinggi yang diinginkan */
    border: 5px solid #28a745; /* Border berwarna hijau */
    border-radius: 15px; /* Sudut melengkung */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Bayangan */
    position: relative; /* Memungkinkan posisi absolut untuk elemen dalam */
    overflow: hidden; /* Menyembunyikan elemen yang keluar dari container */
    margin-bottom: 70px;
}

/* TEXT */
.title{
    font-size: 24px;
    font-weight: 700;
}
.caption{
    font-size: 14px;
    font-weight: 400;
    color: #19182580;
}

