/* CONTAINER LAYOUT*/
.notrip-container{
    max-width: 375px;
    position: relative;
    background-color: white;
    margin: 0 auto; 
    font-family: 'Poppins', sans-serif;
}

#riwayatTrip{
    margin-bottom: 50px;
}

.text-content a{
    text-decoration: none;
    padding-top: 5px;
}
.caption{
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}
.text-content i{
    font-size: 16px;
    padding: 5px 8px;
    color: white;
    border: none;
    border-radius: 50%;
    background-color: #1E9781;
    transition: transform 0.3s ease;
}
.text-content i:hover{
    transform: scale(1.05);
    background-color: #00BB83;
}

/* DROPDOWN */
.accordion-item{
    margin-bottom: 50px;
    border: 1px solid #4180CC;
    border: 10px;
}
.accordion-header{
    border-radius: 8px;
    background-color: #F1F2F2;
    position: sticky;
    top: 0;
    z-index: 10;
}

.accordion-button h5{
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin-bottom: 0px;
}
.accordion-button p{
    font-size: 13px;
    color: white;
    margin-bottom: 0px;
    font-weight: 400;
}

.ms-auto{
    text-align: right;
}
.accordion-button:not(.collapsed)::after {
    display: none;
}

.accordion-button::after {
    display: none;
}

.accordion-button {
    background-color: #E42E07;
    color: white;
    padding: 10px;
    text-align: left;
    border-radius: 10px 10px 0px 0px !important;
}
.accordion-button.collapsed{
    border-radius: 10px !important;
  }
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    background-color: #E42E07;
    color: white;
    border: none;
    border-radius: 10px 10px 0px 0px !important;
}
.accordion-body {
    background-color: #F1F2F2;
    margin-top: 0px;
    max-height: 450px;
    overflow-y: auto;
    padding-top: 20px;
}

.info-pmj {
    font-size: 12px;
    color: #bcd;
}
.riwayat-image img{
    border-radius: 10px;
    margin-right: 5px;
}


/* TABEL */
table{
    font-size: 14px;
}
thead{
    background-color: #FFB21D;
    overflow: hidden;
    vertical-align: middle;
    color: white;
}
th h5{
    padding-left: 10px;
    color: white;
}
table td {
    padding: 10px 15px !important; 
    font-size: 12px;
    font-weight: 400;
}
.detail-trip td, .detail-pengeluaran td{
    text-align: justify;
}

.keterangan{
    text-align: left !important;
    padding-left: 10px;
    width: 50%;
}
.saldo{
    padding: 5px;
    background-color: #4180CC;
    color: white;
    border-radius: 20px;
    text-align: center;
}
.total{
    padding: 5px;
    background-color: #666666;
    color: white;
    border-radius: 20px;
    text-align: center;
}
.tgl{
    padding: 5px;
    background-color:#E20D3E;
    color: white;
    border-radius: 20px;
    text-align: center;
}
.status{
    padding: 5px;
    background-color: #0FAA56;
    color: white;
    border-radius: 20px;
    text-align: center;
}
.btn-bukti{
    background: none;
    border: none;
}
.detail-pengeluaran th{
    background-color: #FFB21D;
    padding: 5px;
    color: white;
}

/* SCROLL */
body, html {
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.accordion-body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    flex-grow: 1;
    overflow-y: auto;
    border-radius: 0px 0px 1rem 1rem;
}

/* MODAL */
/* MODAL */
.modal-content{
    border: none;
}
.modal-dialog{
    max-width: 375px;
}
.modal-body{
    padding: 20px 60px;
}

@media (min-width: 768px) {
    .dashboard-container {
        max-width: 100%;
        width: 375px;
    }
    
    .content {
        padding-bottom: 50px; /* Maintain mobile padding */
    }
}