/* CONTAINER LAYOUT*/
.notrip-container{
    max-width: 375px;
    position: relative;
    background-color: white;
}

#riwayatTrip{
    margin: 70px 0px 80px 0px;
}

/* TEXT CONTTENT */
.text-content p{
    font-size: 16px;
    font-weight: 700;
    color: #1E9781;
    padding-left: 10px;
}

/* DROPDOWN */
.accordion-item{
    margin-bottom: 10px;
    border: 1px solid #4180CC;
    border: 10px;

}
.accordion-header{
    border-radius: 8px;
    background-color: #F1F2F2;
}

.accordion-button h5{
    font-size: 16px;
    color: black;
    font-weight: 700;
    margin-bottom: 0px;
}
.accordion-button p{
    font-size: 14px;
    color: black;
    margin-bottom: 0px;
    font-weight: 600;
}

.accordion-button:not(.collapsed)::after {
    display: none;
}

.accordion-button::after {
    display: none;
}

.accordion-button {
    background-color: #D9D9D9;
    color: black;
    padding: 10px;
    text-align: left;
    border-radius: 10px 10px 0px 0px !important;
}
.accordion-button.collapsed{
    border-radius: 10px !important;
  }
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    background-color: #D9D9D9;
    color: white;
}
.accordion-body {
    background-color: #F1F2F2;
    margin-top: 0px;
}
.info-pmj {
    font-size: 12px;
    color: #bcd;
}
.riwayat-image img{
    border-radius: 10px;
    margin-right: 10px;
}
.ms-auto p{
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
}
.kode p{
    font-size: 12px;
    font-weight: 400;
}


/* TABEL */
table{
    font-size: 14px;
}
thead{
    background-color: #FFB21D;
    overflow: hidden;
    vertical-align: middle;
    color: white;
}
th h5{
    padding-left: 10px;
    color: white;
}
table td {
    padding: 10px 15px !important; 
    text-align: right;
}
.keterangan{
    text-align: left;
    padding-left: 10px;
}
.tgl{
    padding: 5px;
    background-color: #E50A3E;
    color: white;
    border-radius: 20px;
    text-align: center;
}
.status{
    padding: 5px;
    background-color: #0FA958;
    color: white;
    border-radius: 20px;
    text-align: center;
}
.btn-bukti{
    background: none;
    border: none;
}
.detail-pengeluaran th{
    background-color: #FFB21D;
    padding: 5px;
    color: white;
}

/* SCROLL */
body, html {
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.accordion-body {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-x: hidden;
    flex-grow: 1;
    overflow-y: auto;
}

/* MODAL */
/* MODAL */
.modal-content{
    border: none;
}
.modal-dialog{
    max-width: 375px;
}
.modal-body{
    padding: 20px 60px;
}
