/* CONTAINER LAYOUT*/
.welcome-container{
    max-width: 375px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/* TEXT CONTENT */
.text-content h5{
    font-size: 24px;
    font-weight: 500;
    color: white;
}
.text-content p{
    font-size: 16px;
    color: white;
}

/* BUTTON */
.btn-content{
    margin: 200px 0px 20px 0px;
}
.btn-dashboard{
    width: 362px;
    height: 54px;
    background-color: #1E9781;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid #1E9781;
}
.btn-dashboard a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 767.98px) {
    .btn-content{
        margin: 350px 0px 20px 0px;
    }
  }